{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <button id="button2" class="btn btn-info">Load Updated Counties</button>
                    <h1>Map</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Indicators Charts</li>
                    </ol>
                </div>
                <div class="container">
                    <div class="row col-12">
                        <form action="" method="GET">
                            <div class="form-row">
                                <div class="col">
                                    <label class="-mbs required">Select County </label>
                                    <select class="form-control" name="county" id="countynames">
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="date">Year</label>
                                    <input type="number" class="form-control " name="year" id="">
                                </div>
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary mt-2">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Map CHART -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Map Chart</h3>
    
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                        class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <div id="map_div" style="height: 100%; width: 100%;"></div>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->    
            </div>
            <!-- /.col (RIGHT) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Map CHART -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Map Chart</h3>
    
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                        class="fas fa-times"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <iframe style="height: 100vh; width: 100%;" src="http://127.0.0.1:8000/mapdataIframe/"></iframe>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->    
            </div>
            <!-- /.col (RIGHT) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
</div>
<script>

    let button = document.getElementById('button2')
    button.addEventListener('click', coountyGeocode, true);
    
    function coountyGeocode(){
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "{% static 'dist/js/data.json' %}", true);
  
        xhr.onload = function(){
          if(this.status == 200){
            var places = JSON.parse(this.responseText);
            
            var output = '';
            var place = ""
            var latitude = ''
            var longitude = ''
            
            for(var i in places){
                output += `
                <option value="${places[i].name}">${places[i].name}</option>`

                place += `${places[i].name}`;
                latitude += places[i].latitude
                longitude += places[i].longitude
            }
  
            document.getElementById('countynames').innerHTML = output;
            console.log(latitude, longitude, place)
          }
        }
  
        xhr.send();
      }

    let search = document.getElementById('countynames')
    search.addEventListener('submit', getGeocode, true);
    var longitude = search.getAttribute('longitude')
    var latitude = search.getAttribute('latitude')
    
    function getGeocode(){
        console.log(longitude, latitude)
    }

    google.charts.load("current", {
        "packages": ["map"],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        "mapsApiKey": "AIzaSyCWC47OOAZDFRmx8pgKyWIk9qw9d7qkKKE"
    });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Lat', 'Long', 'Name'],
            [-0.09880, 34.75706, 'Nakuru'],
            [-0.09880, 34.75706, 'Kisumu'],
            [3.2285332, 40.7056165, 'Mandera'],
            [3.1166086,35.6000028, 'Lodwar'],
            [-4.05052,39.667169, 'mombasa'],
            [-1.0211616,34.3096432, 'Migori'],

        ]);

        var map = new google.visualization.Map(document.getElementById('map_div'));
        map.draw(data, {
            showTooltip: true,
            showInfoWindow: true
        });
    }


</script>
{% endblock %}
